body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../tortuga2.jpg);
    background-size: cover;
    height: 1000px;

}

ul {
    list-style: none;
    font-size: 20px;
}

header {
    height: fit-content;
    width: 100%;
    background-color: white;
}

h1 {

    position: relative;
    top: 65%;
    left: 40%;
    text-align: center;
    align-items: center;
    background: rgb(160, 245, 226);
    border-radius: 5px;
    padding: 2px 5px 5px 5px;
    width: 400px;
}

cite {
    margin: 16px 32px;
}


h2 {
    color: brown;
}

button {
    position: relative;
    top: 65%;
    left: 50%;
    padding: 15px 32px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(169, 197, 240);
    box-shadow: 2px rgba(0, 0, 0, 0.5);
}